{% extends "base.html" %}

{% block content %}

<div class="auth-container">

<div class="auth-left">

<h2 id="formTitle">Login</h2>

<form id="loginForm" method="POST" action="/login">

<input type="text" name="username" placeholder="Username" required>

<input type="password" name="password" placeholder="Password" required>

<select name="role">
<option value="hr">HR</option>
<option value="student">Student</option>
</select>

<button type="submit">Login</button>

<p class="toggle-text">
Don't have an account?
<span onclick="showRegister()">Register</span>
</p>

</form>


<form id="registerForm" method="POST" action="/register" style="display:none;">

<input type="text" name="username" placeholder="Username" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<select name="role">
<option value="hr">HR</option>
<option value="student">Student</option>
</select>

<button type="submit">Register</button>

<p class="toggle-text">
Already have an account?
<span onclick="showLogin()">Login</span>
</p>

</form>

</div>


<div class="auth-right">

<img src="{{ url_for('static', filename='images/login_bg.jpg') }}">

</div>

</div>


<script>

function showRegister(){

document.getElementById("loginForm").style.display="none"

document.getElementById("registerForm").style.display="block"

document.getElementById("formTitle").innerText="Register"

}

function showLogin(){

document.getElementById("registerForm").style.display="none"

document.getElementById("loginForm").style.display="block"

document.getElementById("formTitle").innerText="Login"

}

</script>

{% endblock %}