{% extends "base.html" %}

{% block content %}

<h2>Create Account</h2>

<form method="POST">

<input type="text" name="username" placeholder="Username" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<select name="role">

<option value="hr">HR</option>
<option value="student">Student</option>

</select>

<button type="submit">Register</button>

</form>

<p>Already have account?</p>

<a href="/">Login</a>

{% endblock %}